services:
  wordpress:
    container_name: wordpress
    image: wordpress:latest
    user: "${UID:-1000}:${GID:-1000}"
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - ./tmp/html:/var/www/html:z
      - ./wp-content/plugins/inat-observations-wp:/var/www/html/wp-content/plugins/inat-observations-wp:z
  db:
    container_name: mysql
    image: mysql:latest
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./tmp/db:/var/lib/mysql:Z