<?xml version="1.0"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix=".php">./unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix=".php">./integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../wp-content/plugins/inat-observations-wp/includes</directory>
            <file>../wp-content/plugins/inat-observations-wp/inat-observations-wp.php</file>
        </whitelist>
    </filter>
    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib" />
    </php>
</phpunit>
